<body class="body">
    <mat-card class="form">
        <h1>Assignment Details</h1>
        <mat-toolbar style="background-color: #f44b3e;">
            <mat-toolbar-row>
              <span>Menu</span>
              <span class="mine"></span>
              <button mat-raised-button (click)="home()" style="margin: 5px;">Tableau de bord</button>
              <button  mat-raised-button (click)="logout()">Deconnexion</button>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-card-title>
            <h2>{{ myAssignment?.titre }}</h2></mat-card-title>
        <mat-card-content>
            <div style="width: 60%;margin: 0 auto;">
                <p><strong>Matière:</strong> {{ myAssignment?.matiere?.titre }}</p>
                <p><strong>Professeur:</strong> {{ myAssignment?.matiere?.prof?.nom }}</p>
                <p><strong>Date de rendu:</strong> {{ myAssignment?.dateDeRendu  }}</p>
                <p><strong>Rendu:</strong> {{ myAssignment?.rendu ? 'Oui' : 'Non' }}</p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div style="width: 60%;margin: 0 auto;text-align: center;">
                
                <button   mat-raised-button color="warn" (click)="rendre( myAssignment!._id ) " >
                    Rendre
                </button>
            </div>
          </mat-card-actions>
    </mat-card>
</body>
