.body{
    background-image: url(../../assets/back.jpg);
    margin: -2%;
    padding: 2%;
    padding-left: 5%;
  }
  .form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 95%;
    height: 140%;
    margin: 10px auto;
    padding: 3%;
  }
  .mine {
    flex: 1 1 auto;
  }