<body class="body">
  <div *ngIf="face === 1">
    <mat-card class="form">
      <form (submit)="onSubmitStudent($event);">
      
        <mat-card-header>
          <h1 >Connexion</h1>
        </mat-card-header>
        <mat-card-header>
          <p style="color: red;">{{ errorMessage }}</p>
        </mat-card-header>
        <p>Merci de vous connecter pour accéder à votre espace étudiant.</p>
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Pseudo</mat-label>
            <input matInput placeholder="Pseudo" required [(ngModel)]="pseudo" name="pseudo"/>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Mots de passe</mat-label>
            <input matInput placeholder="Mot de passe" required [(ngModel)]="mdp" name="mdp" type="password" />
          </mat-form-field>
        </mat-card-content>    
        <mat-card-actions>
          <button color="warn"  mat-raised-button >
            Connexion
          </button>
        </mat-card-actions>
    
    </form>
    </mat-card>
    <div class="user">
      <button mat-fab color="warn" (click)="prof()">
        <mat-icon>person</mat-icon>
      </button>
    </div>
  </div>
<div *ngIf="face === 2">
  <mat-card class="form2">
    <form (submit)="onSubmitProf($event);">
    
      <mat-card-header>
        <h1 >Connexion - Professeur</h1>
      </mat-card-header>
      <mat-card-header>
        <p style="color: red;">{{ errorMessage }}</p>
      </mat-card-header>
      <p>Merci de vous connecter pour accéder à votre espace.</p>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Pseudo" required [(ngModel)]="pseudo" name="pseudo"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Mot de Passe</mat-label>
          <input matInput placeholder="Mot de passe" required [(ngModel)]="mdp" name="mdp" type="password" />
        </mat-form-field>
      </mat-card-content>    
      <mat-card-actions>
        <button color="warn"  mat-raised-button >
          Connexion
        </button>
      </mat-card-actions>

  </form>
  </mat-card>
  <div class="user2">
    <button mat-fab color="warn" (click)="student()">
      <mat-icon>people</mat-icon>
    </button>
  </div>
</div>
</body>
