.body{
  background-image: url(../../assets/back.jpg);
  margin: -2%;
  padding: 2%;
  padding-left: 5%;
}
.form {
  display: flex;
  float: left;
  flex-direction: column;
  text-align: center;
  max-width: 30%;
  min-height: 40%;
  margin: 20px auto;
  border: 5px solid white;
  padding: 3%;
  border-radius: 10%;
  min-height: 90%; 
}
.user {
  display: table-cell;
  font-size: 14px;
  float : right;
  margin: 20px;
  min-width: 120px;
}

.form mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.form2 {
  display: flex;
  float: right;
  flex-direction: column;
  text-align: center;
  max-width: 30%;
  min-height: 50%;
  margin: 20px auto;
  border: 5px solid white;
  padding: 3%;
  border-radius: 10%;
  min-height: 90%; 
}
.user2 {
  display: table-cell;
  font-size: 14px;
  float : left;
  margin: 20px;
  min-width: 120px;
}

.form mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-card-header, mat-card-actions {
  display: flex;
  justify-content: center;
  width: 100%;
}

mat-card-actions button {
  width: 40%;
  margin: 0 auto;
}
