<form (submit)="onSubmit($event);" class="form">
    <h1 style="text-align: center;">Connexion</h1>
  <mat-form-field appearance="fill">
    <mat-label>Pseudo</mat-label>
    <input matInput placeholder="Pseudo" required [(ngModel)]="pseudo" name="pseudo"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Mots de passe</mat-label>
    <input matInput placeholder="Mot de passe" required [(ngModel)]="mdp" name="mdp" type="password"/>
  </mat-form-field>

  <button color="primary"  mat-raised-button color="primary" >
    Connexion
  </button>
</form>
