<body class="body">
    <mat-card class="form">
      <h1>Tableau de bord</h1>
      <mat-toolbar style="background-color:#f44b3e">
        <mat-toolbar-row>
          <span>Menu</span>
          <span class="mine"></span>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">Deconnexion</button>
          </mat-menu>
        </mat-toolbar-row>
      </mat-toolbar>
      
      <mat-card class="chop" style="margin-top: 5px;">
        <h1>Assignments en attente</h1>
        <mat-table [dataSource]="data" class="mytable" >
          <ng-container matColumnDef="titre">
            <mat-header-cell *matHeaderCellDef> Titre </mat-header-cell>
            <mat-cell *matCellDef="let assignment"> {{ assignment.titre }} </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="dateDeRendu">
            <mat-header-cell *matHeaderCellDef> Date de Rendu </mat-header-cell>
            <mat-cell *matCellDef="let assignment"> {{ assignment.dateDeRendu | date:'mediumDate' }} </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="Etudiant">
            <mat-header-cell *matHeaderCellDef> Etudiant </mat-header-cell>
            <mat-cell *matCellDef="let assignment"> {{ assignment.nom_etu }} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelect(row)"></mat-row>
    
        </mat-table>
      </mat-card>
        
  
    </mat-card>
  </body>
  