mat-header-cell, mat-cell {
    padding: 8px;
  }
  
  mat-row {
    cursor: pointer;
  }
  .form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 95%;
    height: 155%;
    margin: 10px auto;
    padding: 3%;
    
  }
  .mine {
    flex: 1 1 auto;
  }
  
  .sec{
    height: 160px;
    margin: 5px;
    display: inline;
    border: 2px solid lightgray;
  }
  .sec2{
    min-height: 240px;
    margin: 5px;
    border: 2px solid lightgray;
  }
  .chop2{
    padding: 1%;
    align-items: block;
    width: 100%;
    border: 5px solid #f44b3e;
    overflow-y: auto;
    height: 800px;
  
  }
  .chop{
    text-align: center;
    padding: 1%;
    height: 800px;
    align-items: block;
    width: 100%;
    border: 5px solid #f44b3e;
    overflow-y: auto;
  
  }
  .mytable{
    overflow-y: auto;
  }
  body{
    margin: -2%;
    padding: 2%;
  }
  