<body class="body">
    <mat-card class="form">
    <mat-card-title><h2>Créer un Assignment</h2></mat-card-title>
    <mat-toolbar style="background-color: #f44b3e;">
        <mat-toolbar-row>
          <span>Menu</span>
          <span class="mine"></span>
          <button mat-raised-button (click)="home()" style="margin: 5px;">Tableau de bord</button>
          <button  mat-raised-button (click)="logout()">Deconnexion</button>
        </mat-toolbar-row>
    </mat-toolbar>
    <form (submit)="onSubmit($event);" style="width: 70%;margin: 0px auto;">
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Titre</mat-label>
                <input matInput placeholder="Titre" required [(ngModel)]="assignment.titre" name="Titre"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Matière</mat-label>
                <mat-select required [(ngModel)]="assignment.matiere" name="matiere">
                  <mat-option *ngFor="let mat of lista" [value]="mat">{{ mat.titre }}</mat-option>
                </mat-select>
              </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Remarques</mat-label>
                <input matInput placeholder="Remarques" required [(ngModel)]="assignment.remarques" name="remarques"/>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="warn" type="submit">Créer</button>
        </mat-card-actions>
    </form>
</mat-card>
</body>